
<div class="row">
    <div class="col-xs-1">
		<button class="btn btn-primary" ng-click="create()">Create</button>
	</div>
	<div class="col-xs-3">
		<select ng-model="searchparam.app_id" class="form-control">
			<option value="" selected>-- Select a app --</option>
			<option value={{app.app_id}} ng-repeat="app in apps">{{app.app_name}}</option>
		</select>
	</div>
	<div class="col-xs-8">
		
	</div>
</div>

<div class="row">
    <table class="table table-bordered table-striped">
        <tr class="success">
			<th>AppId</th>
            <th>UpdateId</th>
            <th>UpdateVersion</th>
            <th>UpdateNumber</th>
			<th></th>
        </tr>
        <tr ng-repeat="upd in upds | filter: searchparam">
			<input type="hidden" ng-model="searchApp.app_id" ng-init="searchApp.app_id=upd.app_id"/>
			<td ng-repeat="app in apps | filter: searchApp:app_id">{{app.app_name}}</td>
            <td>{{upd.upd_id}}</td>
            <td>{{upd.upd_ver}}</td>
            <td>{{upd.upd_num}}</td>
			<td>
                <button class="btn btn-primary" ng-click="delete(upd.upd_id)">Delete</button>
            </td>
        </tr>
    </table>
</div>