
<div class="row">
    <table class="table">
        <tr>
            <th class="vert-align">UpdId</th>
            <td>
                <input type="text" ng-model="upd.UpdId" class="form-control" placeholder="App Id"/>
            </td>
        </tr>
        <tr>
            <th class="vert-align">Version</th>
            <td>
                <input type="text" ng-model="upd.UpdVer" class="form-control" placeholder="Message"/>
            </td>
        </tr>
        <tr>
            <th class="vert-align">Version Number</th>
            <td>
                <input type="text" ng-model="upd.UpdNum" class="form-control" placeholder="Message"/>
            </td>
        </tr>
		<tr>
            <th class="vert-align">AppId</th>
            <td>
				<select ng-model="upd.AppId">
					<option value="" selected>-- Select a app --</option>
					<option value={{app.app_id}} ng-repeat="app in apps">{{app.app_name}}</option>
				</select>					
            </td>
        </tr>
        <tr>
            <th></th>
            <td style="padding-left: 10px">
                <button class="btn btn-primary" ng-click="create()">Create</button>
            </td>
        </tr>
    </table>
</div>